h1{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input{
  width: 100%;
}
.item-container{
  text-align: left;
}
.av-row{
  margin: 10px 5px;
}

.av-button{
  min-width: 165px;
}